subway_bar/
launchSettings.json
obj
.codegen
.blend
.psd
*.xml
*.dll
*.pdb
# Build results
.vs/
[Oo]bj/
*_bakeresourcecache
*.generated.*
._c
*.vmdl_c

*.vpcf_c

*.csproj

*.item_c

*.vehicle_c

*.wheel_c

*.sound_c

*.vmat_c
models/vehicles/tires/vossen/cv3/cv3.blend
*.blend1
*.blend
*.blend
models/vehicles/tires/project.blend
*.smd
*.smd
