ColorSelector {
    position: absolute;
    height: 35%;
    width: 15%;
    border-radius: $smallradius;
    background-color: rgb(20, 20, 20);
    z-index: $z-menu;
    overflow: scroll;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4px;
    transition: all 0.5s ease-in;
    opacity: 1;

    &:intro {
        opacity: 0;
    }

    &:outro {
        opacity: 0;
    }

    .item {
        cursor: pointer;
        height: 32px;
        width: 32px;
        flex-shrink: 0;
    }
}
