$fontcolor: #fff;
$fontcolorfaded: #b1b1b1;

$radius: 16px;
$smallradius: 4px;

$bg: rgba(0, 0, 0, 0.5);


// Default Fonts
$title-font: Montserrat;

$main-color: #5b64e9;
$main-green: #39ffa0;
$background: rgba(210, 210, 210, 0.15);

// Text Shadows
$text-shadow-black: 2px 2px 0 #000;

$z-hud: 1;
$z-menu: 2;
$z-notif: 3;